<div id="info" class="container">
  <div id="info-panles" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="info-panel-icon text-center">
            <i class="text-danger fa fa-exclamation-triangle">
            </i>
          </div>
          <h2 class="info-panel-header text-center ">
            <strong>Catch</strong>
          </h2>
            <div class="info-panel-content">
              <%= render 'catch_text' %>
            </div>
            <div class="info-panel-button text-center">
              <button type="button" class="btn btn-primary">
                Get the gem
              </button>
            </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="info-panel-icon text-center">
            <i class="text-info fa fa-code">
            </i>
          </div>
          <h2 class="info-panel-header text-center ">
            <strong>Monitor</strong>
          </h2>
            <div class="info-panel-content">
              <%= render 'monitor_text' %>
            </div>
            <div class="info-panel-button text-center">
              <button type="button" class="btn btn-primary">
                Learn more
              </button>
            </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="info-panel-icon text-center">
            <i class="text-primary fa fa-bar-chart">
            </i>
          </div>
          <h2 class="info-panel-header text-center ">
            <strong>Visualize</strong>
          </h2>
            <div class="info-panel-content">
              <%= render 'visualize_text' %>
            </div>
            <div class="info-panel-button text-center">
              <button type="button" class="btn btn-primary">
                Demo
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
