<div id="landing">
  <div class="jumbotron gradient-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>Monitor any error or exception</h1>
        </div>
      </div>
    </div>
  </div>
</div>
