<div id="landing">
  <div class="jumbotron gradient-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>Monitor any error or exception</h1>
          <p>
            An exception monitoring tool for Ruby On Rails Applications
          </p>
          <p>
            <a id="get-started-btn"class="btn btn-primary btn-lg" href="#"
               role="button">
              Get started »
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
