// Shared
@import 'shared';

#landing{
  .jumbotron{
    color: $white;
    .container{
      height: 100%;
      text-align: center;
      width: 100%;
    }
    h1{
      padding-top: 50px;
    }
    #get-started-btn{
      background-color: rgba(100,100,100,0);
      border-color: $white;
      &:hover{
        color: $text-dark-green;
        background-color: $logo-green;
        border-color: $logo-green;
      }
    }
    #big-logo{
      font-size: 75px;
      color: $logo-green;
    }
  }
}
