// Shared
@import 'shared';

#landing {
  .jumbotron {
    color: $white;
    .container {
      height: 100%;
      text-align: center;
      width: 100%;
    }
    h1 {
      padding-top: 50px;
    }
    #get-started-btn {
      background-color: $transparent;
      border-color: $white;
      &:hover {
        color: $text-dark-green;
        background-color: $logo-green;
        border-color: $logo-green;
      }
    }
    #big-logo {
      font-size: 75px;
      color: $logo-green;
    }
  }
}

#info {
  .info-panel-icon {
    font-size: 80px;
  }
  .info-panel-header {
    margin-top: -10px !important;
  }
  .info-panel-content {
    font-size: 18px;
  }
  .info-panel-button {
    margin-top: 15px;
    button{
      font-size: 18px !important;
    }
  }
}
