/* #home
----------------- */
.navbar-brand{
  #i-logo{
    color: #36d09c;
    font-size: 25px;
  }
}
.navbar-nav{
  @media (min-width: 768px){
    #sign-in-btn{
      border: 1px solid white;
      padding: 7px 18px !important;
      margin-top: 7px;
      transition: all 0.2s;
      &:hover{
        color: #14554f;
        background-color: #36d09c;
        border-color: #36d09c;
      }
    }
  }
}
.gradient-bg{
  background: linear-gradient(-225deg, rgba(20,85,79,0.73) 0%, rgba(20,59,85, 0.92) 100%);
}
#landing{
  .jumbotron{
    color: white;
    .container{
      height: 100%;
      width: 100%;
      text-align: center;
    }
    h1{
      padding-top: 50px;
    }
  }
}
/* Mobile #home
----------------- */
@media (max-width: 768px){
  ul.nav.pull-right.navbar-nav {
    float: none !important;
  }
}
